@using MvcNetCoreSession.Helpers
@using MvcNetCoreSession.Extensions
@model List<Mascota>

@{
    Mascota mascota =
                Context.Session.GetObject<Mascota>("MASCOTAOBJECT");
}

<h1>Ejemplos Session</h1>

@if(Model != null)
{
    <h1 style="color:blue">Mascotas recuperadas: @Model.Count</h1>
}else{
    <h1 style="color:red">No tenemos Mascotas del helper</h1>
}

@if (mascota != null)
{
    <h2 style="color:aqua">
        @mascota.Nombre, Raza: @mascota.Raza, Edad: @mascota.Edad
    </h2>
}

<h2 style="color:blue">
    @Context.Session.GetString("nombre")
</h2>

<h2 style="color:red">
    @Context.Session.GetString("hora")
</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="EjemploSession"
           asp-action="SessionSimple">
            Session Simple
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession"
           asp-action="SessionMascota">
            Session Binary
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession"
           asp-action="SessionCollection">
            Session Collection
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession"
           asp-action="SessionMascotaJson">
            Session Mascota Json
        </a>
    </li>
    <li class="list-group-item">
    <a asp-controller="EjemploSession"
           asp-action="SessionMascotaObject">
        Session Mascota Object
    </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession"
           asp-action="SessionMascotaCollection">
            Session Mascota Collection
        </a>
    </li>
</ul>
